* {
    font-family: sans-serif;
    text-decoration: none;
  }
  
  body {
    background-image: url(https://wallpaperaccess.com/full/2180133.jpg);
    text-decoration: none;
  }
  
  nav {
    background-image: url(R\ .jpg);
    font-family: sans-serif;
  }
  
  .content {
    display: flex !important;
    align-items: center !important;
    justify-content: space-around !important;
  }
  
  .parts {
    display: inline !important;
  }
  
  .elements {
    text-decoration: none !important;
    display: inline !important;
    margin: 10px !important;
    font-weight: bolder !important;
    transition-duration: 0.3s !important;
    transition-timing-function: ease-in-out !important;
    color: white !important;
  }
  
  .elements:hover {
    color: aliceblue;
    font-size: 16pt;
  }
  
  a {
    text-decoration: none !important;
  }
  
  .saira-stencil-one-regular {
    font-family: "Saira Stencil One", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .big-shoulders-stencil-text-content {
    font-family: "Big Shoulders Stencil Text", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }



  
  .contact {
    list-style-type: none;
    color: whitesmoke;
    text-align: center;
    margin-top: 10px;
  }